* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow: hidden; /* Para evitar barras de desplazamiento */
  background: linear-gradient(to right, #3e318b, #9c1e9c); /* Fondo con gradiente de colores */
  color: #fff; /* Color de texto blanco para todo el cuerpo */
}

/* Para el Margen de los link hacia otra pantalla*/
.navbar {
  display: flex;
  justify-content: center; /* Centrar horizontalmente los enlaces */
  margin-top: 1rem; /* Espacio superior para separar del encabezado */
  margin-left: 2rem; /* Margen izquierdo para separar del borde de la pantalla */
  margin-right: 2rem; /* Margen derecho para separar del borde de la pantalla */
}

.navbar a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
  padding: 1rem 2rem; /* Ajusta el espacio interno según necesites */
  border: 2px solid #bb1597;
  border-radius: 5px;
  transition: all 0.3s ease;
  margin: 0 0.5rem; /* Espacio entre los enlaces */
}

.navbar a:hover {
  background-color: #201414;
  color: #fd0202;
  transform: translateY(-3px);
}

.navbar a:focus {
  outline: none;
}


a {
  margin-right: 15.5rem; /* Espacio entre enlaces */
  text-decoration: none; /* Quitar subrayado predeterminado */
  font-size: 1.2rem; /* Tamaño del texto */
  color: #fff; /* Color del texto */
  padding: 1rem 1rem; /* Espaciado interno */
  border: 2px solid #fff; /* Borde blanco */
  border-radius: 5px; /* Borde redondeado */
  transition: all 0.3s ease; /* Transición suave */
  display: inline-block; /* Mostrar como bloque en línea */
  text-align: center; /* Centrar el texto dentro del botón */
}

a:hover {
  background-color: #fff; /* Fondo blanco en hover */
  color: #1a0404; /* Cambio de color de texto */
  transform: translateY(-3px); /* Efecto de elevación */
}

a:focus {
  outline: none; /* Quitar el contorno en el foco */
}

/* Ajustar según sea necesario */
@media (max-width: 768px) {
  a {
    margin-right: 1rem; /* Reducir margen en dispositivos móviles */
    font-size: 1rem; /* Tamaño de texto más pequeño */
    padding: 0.3rem 0.8rem; /* Espaciado interno más pequeño */
  }
}


header {
  text-align: center;
  padding: 20em;
  margin: 0 auto;
  position: relative; /* Para asegurar que el contenido esté sobre la imagen */
  z-index: 1;
}

#perfil {
  color: #fff; /* Color blanco para el texto */
  background: linear-gradient(to right, #bb7c7c, #ff00ee); /* Gradiente de colores */
  -webkit-background-clip: text; /* Clip de fondo para WebKit */
  background-clip: text; /* Clip de fondo estándar */
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.1;
  margin: 4rem auto;
  max-width: 14rem;
  animation: bounceIn 1s ease;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); /* Sombreado al texto */
}



.banner_img img {
  width: 450px; /* Ajusta el tamaño de la imagen según necesites */
  height: 450px; /* Ajusta el tamaño de la imagen según necesites */
  object-fit: cover;
  border-radius: 50%; /* Hacer la imagen circular */
  border: 2px solid #da5a5a; /* Añadir un borde blanco a la imagen */
  box-shadow: 400 300px 300px rgba(139, 221, 8, 0.2); /* Añadir una sombra a la imagen */
  z-index: 1; /* Asegúrate de que la imagen esté sobre el contenido */
  filter: blur(0px); /* Remover el filtro de desenfoque */
  opacity: 1; /* Opacidad completa */
}


/* Nuevos estilos */
.contenedor {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.bg_animate {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #3e318b, #9c1e9c);
  position: relative;
  overflow: hidden;
}

.header_nav nav a {
  color: #d44141;
  text-decoration: none;
  margin-right: 10px;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/* mi titulo de bienvenida en el perfil*/
.banner_title h2 {
  color: #01fff2;
  font-size: 70px;
  font-weight: 800;
  margin-bottom: 150px;
}
.additional-info {
  color: white;
  font: size 70pc;
  font-weight: 800;
  margin-bottom: 50px;
}

.additional-info h3{
  color:white;
  margin-bottom: 10px;
  
}


/* Estilos para la imagen del banner y los movimientos */
.banner_img {
  animation: movimiento 1.5s linear infinite;
  position: absolute; /* Posicionamiento absoluto para que esté por encima de las burbujas */
  top: 12%; /* Ajusta según sea necesario */
  left: 60%; /* Ajusta según sea necesario */
  transform: translate(60%, -50%); /* Centra la imagen */
  z-index: 2; /* Z-index superior para que esté sobre las burbujas */
}

/* Control del tamaño de la imagen */
.banner_img img {
  width: 450px;
  display: block;
 
}

/* burbujas */

.burbuja {
  border-radius: 50%;
  background: #00a2ff;
  opacity: 0.3;
  position: absolute;
  bottom: -150;
  animation: burbujas 3s linear infinite;
}

.burbuja:nth-child(1) {
  width: 80px;
  height: 80px;
  left: 5%;
  animation-duration: 3s;
  animation-delay: 3s;
}

.burbuja:nth-child(2) {
  width: 100px;
  height: 100px;
  left: 35%;
  animation-duration: 3s;
  animation-delay: 5s;
}

.burbuja:nth-child(3) {
  width: 20px;
  height: 20px;
  left: 15%;
  animation-duration: 1.5s;
  animation-delay: 7s;
}

.burbuja:nth-child(4) {
  width: 50px;
  height: 50px;
  left: 90%;
  animation-duration: 6s;
  animation-delay: 3s;
}

.burbuja:nth-child(5) {
  width: 70px;
  height: 70px;
  left: 65%;
  animation-duration: 3s;
  animation-delay: 1s;
}

.burbuja:nth-child(6) {
  width: 20px;
  height: 20px;
  left: 50%;
  animation-duration: 4s;
  animation-delay: 5s;
}

.burbuja:nth-child(7) {
  width: 20px;
  height: 20px;
  left: 50%;
  animation-duration: 4s;
  animation-delay: 5s;
}

.burbuja:nth-child(8) {
  width: 100px;
  height: 100px;
  left: 52%;
  animation-duration: 5s;
  animation-delay: 5s;
}

.burbuja:nth-child(9) {
  width: 65px;
  height: 65px;
  left: 51%;
  animation-duration: 3s;
  animation-delay: 2s;
}

.burbuja:nth-child(10) {
  width: 40px;
  height: 40px;
  left: 35%;
  animation-duration: 3s;
  animation-delay: 4s;
}

@keyframes burbujas {
  0% {
      bottom: 0;
      opacity: 0;
  }
  30% {
      transform: translateX(30px);
  }
  50% {
      opacity: 0.4;
  }
  100% {
      bottom: 100vh;
      opacity: 0;
  }
}

@keyframes movimiento {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(30px);
  }
  100% {
      transform: translateY(0);
  }
}

/* Acerca de mi?*/
/* src/app.css */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f3f4f6;
  color: #333;
  overflow-x: hidden;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none; /* Ensure particles.js does not interfere with scrolling */
}

.contenedor {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.contenido-descripcion {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin: 50px 0;
}

.titulo {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #007acc;
  text-align: center;
}

.descripcion {
  font-size: 1.1em;
  line-height: 1.6;
  text-align: justify;
}

.descripcion p {
  margin-bottom: 20px;
}

.btn-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007acc;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  text-align: center;
  margin-top: 20px;
}

.btn-link:hover {
  background-color: #005b99;
}

/*Los proyectos  */
